@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

/* header */
header {
  display: inline;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f3a740;
}

.box-jumbotron {
  text-align: center;
  color: #232020;
  padding-top: 16px;
}

.jumbotron h3 {
  font-size: 1rem;
  font-weight: 400;
  background-color: #232020;
  color: #f8f9fa;
  padding: 3px 0;
  border-radius: 100px;
  width: 165px;
  margin: auto;
}

.jumbotron h1 {
  font-size: 4rem;
  font-weight: 700;
}

.jumbotron h2 {
  font-size: 1.25rem;
  font-weight: 400;
  position: relative;
  top: -1rem;
  word-spacing: 0.15rem;
  letter-spacing: 0.05rem;
}

/* nav */
nav {
  background-color: #232020;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.box-nav {
  text-align: center;
}

nav ul {
  display: flex;
  gap: 0.5rem;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #f8f9fa;
  font-weight: 300;
  border-radius: 100px;
  padding: 3px 16px;
  transition: all 0.2s ease-in-out;
}

nav ul li:hover a {
  background-color: #f3a740;
  color: #232020;
  font-weight: 500;
  margin: 0 10px;
}

/* main */
.container {
  max-width: 1120px;
  margin: auto;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-split {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-height {
  height: 100vh;
}

/* hero */
#hero {
  scroll-margin-top: 56px;
}

.hero-aside {
  display: flex;
}

.hero-aside,
.hero-about {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero-grey {
  background-color: #232020;
  width: 364px;
  height: 528px;
  border-radius: 30px;
  padding: 32px;
}

.hero-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-center p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border-radius: 999px;
  font-size: 20px;
  font-weight: 400;
  width: 236px;
  height: 40px;
}

.hero-orange {
  position: relative;
  width: 100%;
  height: 392px;
  background-color: #f3a740;
  border-radius: 30px;
  margin-bottom: 32px;
}

.hero-orange img {
  width: 372px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero-about h1 {
  font-size: 4rem;
}

.hero-about p {
  line-height: 25px;
}

.hero-about span {
  font-weight: 600;
  font-size: 1.125rem;
}

.hero-about a {
  display: inline-block;
  position: relative;
  margin-top: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: #232020;
  padding: 0 1rem;
}

.hero-about a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -50%;
  transform: translateX(50%);
  height: 4px;
  width: 100%;
  background: #f3a740;
  border-radius: 999px;
}

/* stacks */
#stacks {
  scroll-margin-top: 8rem;
}

.stacks {
  background-color: #f3a740;
  margin-top: 3rem;
}

.stacks-header {
  margin-top: -31px;
}

.stacks-icons-container {
  gap: 100px;
  padding: 120px 0;
}

.stacks-header {
  display: inline-block;
  background-color: #232020;
  padding: 8px 56px;
  border-radius: 999px;
  box-shadow: 0px 4px 15px rgba(35, 32, 32, 0.3);
}

.stacks-header h1 {
  color: #f8f9fa;
  font-size: 2rem;
  font-weight: 700;
}

.stacks-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  max-width: 348px;
  flex-wrap: wrap;
}

.stacks-icon-box {
  background-color: #f8f9fa;
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 15px rgba(35, 32, 32, 0.25));
}

.stacks-icon-box img {
  height: 56px;
}

.stacks-title {
  text-align: center;
  margin-top: 2rem;
}

.stacks-title h3 {
  font-weight: 500;
}

/* experiences */
#experiences {
  scroll-margin-top: 6rem;
}

.experiences {
  margin: 8rem 0;
}

.experiences-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.experiences-header h1 {
  font-size: 2.25rem;
}

.experiences-header img {
  animation: bounce 2s infinite;
}

.experiences-header img:hover {
  animation: paused;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-15px);
  }
  60% {
    transform: translateX(-7px);
  }
}

hr {
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  height: 0.25rem;
  background-color: #232020;
  border-width: 0;
  border-radius: 999px;
}

.exp-col-align {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
}

.exp-card-column {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

article .exp-frame {
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-color: #232020;
  border-radius: 20px;
}

article .exp-box {
  margin: 1rem;
  width: 314px;
  background-color: #232020;
  border-radius: 20px;
  position: relative;
}

article .exp-tag {
  background-color: #f3a740;
  border-radius: 999px;
  position: absolute;
  margin: 16px;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(35, 32, 32, 0.25);
}

article .exp-tag h3 {
  color: #232020;
  font-weight: 500;
  padding: 5px;
  font-size: 1rem;
}

article .exp-img {
  width: 314px;
}

article .exp-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

article .exp-desc {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #f8f9fa;
  gap: 0.5rem;
}

article .exp-desc .exp-period p {
  font-size: 0.9rem;
  font-weight: 300;
}

article .exp-desc .pr-title p {
  font-size: 1rem;
  font-weight: 400;
}

/* projects */
#projects {
  scroll-margin-top: 6rem;
}

.projects {
  margin-bottom: 8rem;
}

.projects-header {
  text-align: center;
}

.projects-header h1 {
  font-size: 2.25rem;
}

.proj-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.projects .proj-box {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.projects .proj-content {
  display: flex;
  column-gap: 0.5rem;
}

.projects .proj-content-reverse {
  flex-direction: row-reverse;
}

.projects .proj-title {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232020;
  border-radius: 8px;
}

.projects .proj-title h3 {
  color: #f8f9fa;
  font-weight: 400;
  font-size: 1rem;
}

.projects img {
  max-height: 24rem;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

.projects .proj-desc {
  flex: 1;
  background-color: #f3a740;
  border-radius: 8px;
  padding: 2rem;
}
.proj-desc .proj-desc-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.proj-desc-p p {
  font-weight: 300;
}

.proj-desc a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  color: #232020;
  padding: 0 1rem;
  transition: all 0.2s ease-in-out;
}

.proj-desc a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -50%;
  transform: translateX(50%);
  height: 3px;
  width: 100%;
  background: #232020;
  border-radius: 999px;
}

.proj-desc a:hover {
  padding-bottom: 3px;
}

/* contact */
.contact {
  background-color: #232020;
}

.container-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem 0;
  align-items: flex-start;
}

.contact .hit-me-up {
  color: #f8f9fa;
}

.contact .hit-me-up h1 {
  font-size: 2.5rem;
}

.hit-me-up .contact-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.contact-links .e-mail-box,
.linkedin-box {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3a740;
  border-radius: 999px;
  padding: 0.6rem 2rem;
}

.contact-links a {
  text-decoration: none;
  color: inherit;
  transition: all 0.1s ease-in-out;
}

.contact-links a:hover {
  color: #232020;
}

.contact-links a:active {
  color: #f8f9fa;
}

.contact-links img {
  padding-right: 1rem;
}

.contact-form .contact-form label,
input,
textarea {
  display: flex;
  flex-direction: column;
}

.contact .contact-form {
  width: 28rem;
}

.contact fieldset,
input,
textarea {
  border-style: none;
}

fieldset form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

fieldset form input,
textarea {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 4px;
  font-size: 0.8rem;
}

fieldset form input {
  height: 48px;
}

fieldset form textarea {
  height: 144px;
  resize: none;
}

fieldset label {
  color: #f8f9fa;
}

fieldset label span {
  padding-left: 1rem;
}

/* button */
button {
  font-size: 1rem;
  background: #f3a740;
  color: white;
  margin: 1rem 0;
  padding: 0.4rem 1.35rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 999px;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

fieldset button:hover {
  color: #f8f9fa;
  cursor: pointer;
}

fieldset button:active {
  background-color: #232020;
  cursor: wait;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  height: 4.5rem;
  background-color: #f3a740;
  color: #232020;
}

footer h4 {
  font-size: 1rem;
}

/* responsive */
/* max-width: 1200px; */
@media screen and (max-width: 1200px) {
  .hero,
  .experiences,
  .projects,
  .container-contact {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  /* experiences */
  .experiences {
    margin-bottom: 6rem;
  }

  .experiences .exp-col-align {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    padding-bottom: 1.5rem;
  }

  .experiences .exp-card-column {
    flex-direction: row;
    max-height: 510px;
    align-items: flex-start;
  }

  /* projects */
  .projects .proj-container {
    flex-direction: row;
    overflow: scroll;
    column-gap: 1.5rem;
  }

  .projects .proj-content {
    flex-direction: column;
    row-gap: 0.5rem;
    padding-bottom: 2rem;
  }

  .proj-content-reverse {
    flex-direction: column-reverse;
  }

  .proj-desc-box {
    row-gap: 2rem;
  }

  .proj-link a:hover {
    padding-bottom: 0;
  }
}

/* max-width: 768px; */
@media screen and (max-width: 768px) {
  /* hero */
  #hero {
    scroll-margin-top: 19rem;
  }

  .hero {
    margin-top: 16rem;
  }

  .container-split {
    flex-direction: column;
  }

  .hero-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 10rem;
  }

  /* stacks */
  .stacks-icons-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 0;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  /* projects */
  .projects .proj-box {
    width: 85%;
  }

  /* contact */
  .contact .container-contact {
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
  }

  .contact .hit-me-up {
    text-align: center;
  }

  .hit-me-up .contact-links {
    align-items: center;
  }

  .contact-links .e-mail-box,
  .linkedin-box {
    width: 100%;
    justify-content: flex-start;
  }
}

/* max-width: 375px; */

/* jumbotron */
@media screen and (max-width: 375px) {
  nav {
    justify-content: flex-start;
    overflow: scroll;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .jumbotron {
    height: 180px;
  }
  .box-jumbotron {
    padding-top: 0;
  }

  .jumbotron h3 {
    font-size: 0.7rem;
    width: 150px;
  }

  .jumbotron h1 {
    font-size: 2rem;
  }

  .jumbotron h2 {
    font-size: 0.75rem;
    letter-spacing: 0;
    word-spacing: 0;
    top: -0.5rem;
  }

  /* hero */
  .hero {
    margin-top: 15rem;
  }

  .hero .hero-aside {
    transform: scale(0.7);
  }

  .hero .hero-center p {
    font-size: 1.25rem;
  }

  .hero .hero-about {
    margin-top: 1rem;
  }

  .hero-about h1 {
    font-size: 2rem;
  }

  .hero-about p {
    font-size: 0.8rem;
    line-height: 22px;
  }

  .hero-about span {
    font-size: 0.85rem;
  }

  /* stacks */
  .stacks {
    margin-top: 10rem;
  }

  .stacks .stacks-header {
    margin-top: -26px;
  }

  .stacks .stacks-header h1 {
    font-size: 1.25rem;
  }

  .stacks .stacks-icons-container {
    transform: scale(0.75);
    padding: 0;
    flex-direction: column;
    overflow: visible;
    row-gap: 4rem;
  }

  .stacks .stacks-icons {
    width: 384px;
  }

  .stacks h3 {
    font-size: 1.25rem;
  }

  /* experiences */
  .experiences {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
  }

  .experiences .experiences-header h1 {
    font-size: 1.5rem;
  }

  .experiences .my-linkedin {
    transform: scale(0.8);
  }

  .experiences article {
    transform: scale(0.95);
  }

  .experiences .exp-card-column {
    align-items: flex-start;
    column-gap: 1rem;
  }

  /* projects */
  .projects {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .projects .proj-container {
    column-gap: 1rem;
  }

  .projects .proj-title {
    width: fit-content;
    padding: 2rem;
    text-align: center;
  }

  .projects-header h1 {
    font-size: 2rem;
  }

  /* contact */
  .contact .contact-form {
    width: 20rem;
  }
}
